{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do Checklist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
   
    <section class="section">
        <div class="container">
            <h1 class="title">
                Attendance check
            </h1>
            {% if messages %}
                {% for message in messages %}
                    <article class="message is-success">
                        <div class="message-header">
                            <p>Success!</p>
                        </div>
                        <div class="message-body">
                            {{ message }}
                        </div>
                    </article>
                {% endfor %}
            {% endif %}
            <table class="table is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>نام</th>
                <th>درس</th>
                <th>کلاس</th>
                <th>میانگین نمرات</th>            
                <th>ثبت تغییرات</th>
                <th>ثبت نمره جدید</th> 
                
                

            </tr>
            </thead>
            {% for i in report %}
                <tr>
                    <td>        
                            {{ i.student }}
                    </td>

                    <td>
                        {{ i.subject }}
                    </td>

                    <td>
                        {{i.classes}}
                    </td>

                    <td>
                        {{ i.sum }}
                    </td>

                    <td>
                        <a href="{% url 'main:report_card' i.id %}"> edit {{i.date}} </a><br>
                    </td>

                    <td>
                        <a href="{% url 'main:add' i.id %}"> ثبت نمرات </a><br>
                    </td>
      
      
      
                </tr>
            {% endfor %}
        </table>
        </div>
    </section>
</body>
</html>

{% endblock content %}