<footer class="footer" style="direction: rtl">
    <div class="container pb-4">
        <div class="row g-6">
            <div class="col-md-4">
                <h3 class="fw-bold text-primary">Honarestan</h3>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                </p>
                <i class="bi bi-instagram fs-2"></i>
                <i class="bi bi-telegram fs-2 mx-3"></i>
                <i class="bi bi-facebook fs-2 me-3"></i>
                <i class="bi bi-linkedin fs-2"></i>
            </div>
            <div class="col-md-7 offset-md-1">
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="fw-bold footer-header w-75">بخش وب</h6>
                        <ul class="list-unstyled">
                            <li>
                                <a class="footer-item" href="#">صفحه ای اصلی</a>
                            </li>
                            <li class="my-2">
                                <a class="footer-item" href="#">محصولات</a>
                            </li>
                            <li>
                                <a class="footer-item" href="#">گالری</a>
                            </li>
                            <li class="mt-2">
                                <a class="footer-item" href="#">پیشتیبانی</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6 class="fw-bold footer-header w-75"> محصولات </h6>
                        <ul class="list-unstyled">
                            <li>
                                <a class="footer-item" href="#">لورم ایپسوم </a>
                            </li>
                            <li class="my-2">
                                <a class="footer-item" href="#">لورم ایپسوم متن </a>
                            </li>
                            <li>
                                <a class="footer-item" href="#">لورم ایپسوم </a>
                            </li>
                            <li class="mt-2">
                                <a class="footer-item" href="#">لورم ایپسوم متن </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6 class="fw-bold footer-header w-75">درباره ما</h6>
                        <ul class="list-unstyled">
                            <li>
                                <a class="footer-item" href="#">درباره ما</a>
                            </li>
                            <li class="my-2">
                                <a class="footer-item" href="#">تماس با ما</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>